<h1>お問い合わせ</h1>

<%= form_with(model: @contact, local: true) do |form| %>

  <div class="field">
    <%= form.label :ユーザー名 %><br />
    <%= form.text_field :name, id: :contact_name %>
  </div>

  <div class="field">
    <%= form.label :お問い合わせ内容 %><br />
    <%= form.text_area :content, id: :contact_content %>
  </div>
  <div class="field">
    <%= form.label :メールアドレス %><br />
    <%= form.text_field :email, id: :contact_email %>
  </div>
  </div>
  <div class="actions">
    <%= form.submit "内容を送信する" %>
  </div>
<% end %>